
.gnb_logo_wrap { 
    width: 74px; 
    height: 74px; 
    background-color: rgb(255,255,255); 
    position: fixed; 
    top:50px; 
    left:calc(50% - 37px);
}

.gnb_logo { 
    width: 24px; 
    height: 28px; 
    position: absolute; 
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}

.hero_wrap { 
    position: relative;
    height: 80vh;
    width: 100%;
    background-image: url(../img/RoyalPalms-16__2__crop__1___1___2_.jpg);
}

#hero_title {
    position: absolute;
    bottom: 100px;
    left: 12.65823%;
    font-size: 160px;
    font-weight: 900;
}

/* Hello */

#hello {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.inner {
    width: 74.68354%;
    padding-top: 140px;
    margin: 0 auto 200px;
    display: flex;
}

.left {
    width: 33.333%;
    margin-left: 11px;
}

.left_index {
    width: 200px;
    font-size: 22px;
    font-weight: 700;
    border-top: 1px solid #fff;
    line-height: 30px;
    padding-top: 10px;
}

.right {
    width: 66.666%;
    font-family: serif;
}

.title {
    width: 100%;
    font-family: serif;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: -4px;
    margin-bottom: 46px;
}

.contact-wrap {
    display: flex;
    flex-wrap: wrap;
}

.contact-wrap .contact-item {
    width: 48.71795%;
    margin-top: 100px;
    font-family: 'Galaxie-Book';
    font-size: 1.125rem;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
}

.contact-wrap .contact-item .contact-item_title {
    display: block;
    margin-bottom: 40px;
}

.contact-wrap .contact-item .contact-item_info a {
    display: block;
}

/* Let's talk. */

#talk {
    width: 100%;
    background-color: #fff;
    color: #000;
}

.inner.inner-talk {
    padding: 100px 0 219px;
}

.left_index.black {
    border-top: 1px solid #000;
}

.title.talk {
    width: 450px;
}

#talk_form {
    width: 100%;
    color: #727272;
}

.talk-box {
    position:relative;
    margin-bottom: 48px;
}

.talk-box input {
    font-family: 'HugeGothic-Bold';
    font-size: 22px;
    width: 100%;
    height: 48px;
    padding-bottom: 10px;
    line-height: 48px;
    border: none;
    border-bottom: 1px solid #000;
}

.talk-box .talk_eyeborw {
    position: absolute;
    top: -4px;
    left: 10px;
    height: 24px;
    padding-left: 10px;
    font-family: serif;
    font-size: 22px;
    transform: translateY(0);
    border-left: 1px solid #000;
}

.talk-box .message-talk_eyeborw {
    top: 25px;
    left: 31px;
    line-height: 20px;
    border: none;
}

.talk-box input:focus,
.talk-box textarea:focus {
    outline: 0;
    border-color: #3a97f5;
}

.talk-box textarea {
    width: 100%;
    height: 92px;
    font-family: 'HugeGothic-Bold';
    font-size: 22px;
    padding: 16px;
}

.notice {
    font-family: 'HugeGothic-Bold';
    color: rgb(128,128,128);
    font-size: 16px;
    margin-bottom: 48px;
}

.notice a {
    color: rgb(128,128,128);
    text-decoration: underline;
}

button {
    height: 84px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border: none;
}

.required {
    margin-top: 9px;
    color: #EA178C;
    display: none;
}

.success-send {
    width: 60%;
    font-family: serif;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: -4px;
    display: none;
    color: #000;
}

.talk-box.active .talk_eyeborw {
    font-size: 14px;
    color: #3a97f5;
    transform: translateY(-50%);
    left: 0;
    padding: 0;
    border: none;
    margin-bottom: 8px;
}

.talk-box.active .message-talk_eyeborw {
    transform: translateY(-200%);
    margin-bottom: 8px;
}

.talk-box.active_2 .talk_eyeborw {
    font-size: 14px;
    color: #000;
    transform: translateY(-50%);
    left: 0;
    padding: 0;
    border: none;
    margin-bottom: 8px;
}

.talk-box.active_2 .message-talk_eyeborw {
    transform: translateY(-200%);
    margin-bottom: 8px;
}

.talk-box.error input,
.talk-box.error textarea {
    border-color: #EA178C;
} 

.talk-box.error .required {
    display: block;
}

/* office */
#office {
    padding-bottom: 100px;
    width: 89.87342%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.office-box {
    position: relative;
    font-family: 'HugeGothic-Bold';
    padding: 115px 70px 30px;
    width: 33.33333%;
    background-color: #161616;
    color: #fff;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: .3s;
}

.office-box:nth-child(3n) {
    border-right: 0;
}

.office-box:hover {
    opacity: 0.5;
}

.office-box span {
    display: inline-block;
}

.office-city {
    margin-bottom: 50px;
    font-size: 2.75rem;
    letter-spacing: 0rem;
    line-height: 1.09091;
}

.office-greeting {
    margin-bottom: 20px;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    line-height: 1.25;
}

.hours {
    font-family: 'Galaxie-Book';
    font-size: 1.125rem;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
}

.office-phone {
    font-family: 'Galaxie-Book';
    font-size: 1.125rem;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
}

.office-email {
    font-family: 'Galaxie-Book';
    min-height: 100px;
    font-size: 1.125rem;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
}

.time-sign {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 35px;
    width: 35px;
    
}

.time-sign_day {
    fill: #000;
    fill-opacity: 0;
    stroke: #000;
    stroke-linejoin: round;
    stroke-width: 3px;
    opacity: 0;
}

.time-sign_night {
    fill: #fff;
    opacity: 0;
}

    .office-box.day {
        background-color: #fff;
        color: #000;
    }
    .office-box.day .time-sign_day {
        opacity: 1;
    }
    .office-box.night {
        background-color: #161616;
        color: #fff;
    }
    .office-box.night .time-sign_night {
        opacity: 1;
    }

/* Latest-news */
#latest-news {
    position: relative;
    padding: 200px 0;
    background-image: url(../img/Predictions_for_the_Year_Ahead.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    overflow: hidden;
}

#latest-news:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.latest-news-wrap {
    position: relative;
    display: flex;
}

.magenta-title {
    display: inline-block;
    width: 18.98734%;
    padding-bottom: 18.98734%;
    margin: 0 1.25% 0 12.65824%;
    background-color: #fff;
    background-image: url(../img/magenta-hero.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: -9999999;
    cursor: pointer;
}

.latest-news-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 43.03797%;
    margin: 0 1.26582% 0 5.06329%;
    cursor: pointer;
}

.latest-news-content h3 {
    font-size: 5rem;
    letter-spacing: -.125rem;
    line-height: 1.05;
}

.latest-news-conten p {
    font-size: 1.125rem;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
}

/* Footer */
footer {
    padding: 180px 0 80px;
    
    font-size: 0.875rem;
    letter-spacing: 0rem;
    line-height: 1.42857;
}

.footer-wrap {
    width: 74.68354%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: auto;
    margin-bottom: 36px;
    display: flex;
    align-items: center;
}

.footer-left .footer-logo {
    position: relative;
    height: 32px;
    margin-right: 2.275em;
    padding-right: 2.275em;
    color: #fff;
}

.footer-left .footer-logo:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 130%;
    transform: translateY(-10%);
    background-color: #888;
}

.footer-left .footer-logo svg {
    max-width: 80px;
    width: 5vw;
    height: auto;
    fill: #fff;
}

.footer-left .footer-mantra {
    max-width: 246px;
    width: 66.10169%;
    display: flex;
    align-items: center;
    transform: translateY(10%);
    color: #fff;
}

.footer-left .footer-mantra svg {
    width: 20vw;
}

.footer-right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-right a {
    color: #888;
    transition: .2s;
}

.footer-right a:hover {
    color: #fff;
}

.footer-right .footer-nav {
    display: flex;
    justify-content: flex-end;
}

.footer-right .footer-nav a {
    font-family: 'HugeGothic-Bold';
    margin-right: 16px;
}

.footer-right .footer-nav a:last-child {
    margin-right: 0;
}

.footer-right .footer-copyright {
    font-family: 'Galaxie-Book';
    font-size: 12px;
    letter-spacing: -.01719rem;
    line-height: 1.88889;
    padding-top: 10px;
    color: #888;
    display: flex;
    flex-direction: column;
}









